---
import "../styles/global.css";
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import PageContent from "../components/PageContent.astro";
import Semesters from "../components/Semesters.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - Gabriella Horn - Deploy</title>
	</head>
	<body>
		<h1>Astro - Gabriella Horn - Deploy</h1>
		<h2>Netflify</h2>
		<p>It is easy to publish with Astro using Netlify.</p>
		<p>Localhost and Online Publishing</p>

		<!--
        pageheader
        showcase
        features
        pagecontent
        semesters
        pagefooter
        -->
		
		<PageHeader />

		<Showcase />

        <Features />

		<PageContent />

		<Semesters />

		<PageFooter />
</body>
</html>
